@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}




.search-box {
    display: flex;
    border: 1px solid black;
    height: 30px;
}

.search-btn {
    /* width: 70px; */
    border: none;
}

.search-btn i {
    font-size: 18px;
    padding: 0 10px;
}

.search-btn:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

.search-input {
    width: 0px;
    border: none;
    transition: width .5s ease-out;
}

.search-input.visible {
    padding: 0 10px;
    width: 400px;
}

.search-input:focus {
    outline: none;
}